
body{
    background-image: url("./images/hero-8-bg-shape-cover-dark.png");
    background-repeat: no-repeat;
    background-color: #252B42;
    /* Center and scale the image nicely */
    background-size:contain
}

.container{
    margin:5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1{
    margin-top: 10rem;
    display: grid;
    grid-template-areas:
      'item1 item1 item1 item2 item2 item2 '
      'item3 item3 item3 item3 item3 item3';
}

.box1__item1 
{ 
    grid-area: item1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}
.box1__item1__text1{
    color: #23A6F0;
    font-size: 1.5rem;

}
.box1__item1__text2{
    padding-top: 2rem;
    color: #fff;
    font-size: 5rem;
    width: 300px;
}
.box1__item1__text3{
    padding-top: 2rem;
    color: #fff;
    font-size: 2rem;
    width: 470px;
}



.box1__item1__btn{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.box1__item1__btn1{
   width: 200px;
   height: 50px;
   background-color: #23A6F0;
   outline: none;
   border: none;
   border-radius: 5px;
   color: #fff;
   font-size: 1rem;
}

.box1__item1__btn2{
    width: 150px;
    height: 50px;
    background-color:#184C99 ;
    border: 1px solid #23A6F0;
    border-radius: 5px;
    color: #23A6F0;
    font-size: 1rem;
 }

.box1__item3{ 
    padding-top: 14rem;
    grid-area: item3; 
    display: flex;
    justify-content: space-around;
}
.box1__item3 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 270px;
    background-color: #fff;
    border-radius: 2px;
    padding: 2rem;
    margin: 1%;
}

.box1__item3__line{
    width: 50px;
    height: 3px;
    background-color: #E74040;
    border:none
 }

 .box1__item3__text{
    color: #737373;
    text-shadow: 2px 2px 8px #b8b1b1;
    font-size: 1.4rem;
    
 }
 .box1__item3 strong{ 
     font-weight: bold;
     font-size: 1.3rem;
 }
.box1__item3 img{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0.5rem;
  
}

header,.nav_regeister{
    display: flex;
    justify-content: space-between;
}

.nav__items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav__items li{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
}

.nav__items li:nth-child(1){
     font-weight: bold;
     font-size: 2rem;
     margin-right: 3rem;
}

.nav_regeister {
    width: 300px;
    height: 60px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .nav__register__signUp{
    width: 300px;
    height: 60px;
    background-color: #23A6F0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__register__signUp i{
  padding-left: 1rem;
}

.box2{
    margin-top: 10rem;
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
   
}

.box2__card2{
    margin-top: 50px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    width: 300px;
    position: absolute;
    right: 300px;
}

.box2__card2__line{
    width: 100px;
    height: 8px;
    background-color: #E74040;
    border:none
}

.box2__card2 strong{
   color: #fff;
   font-size: 3rem;
   width: 300px;
}

.box2__card2__text1{
    color: #fff;
    font-size: 1.2rem;

}

.box2__card2__text2{
    color: #23A6F0;
    font-size: 1rem;
}


.box3__text1{
    margin-top: 10rem;
    color: #23A6F0;
}

.box3__text2{
    margin-top: 2rem;
    color: #fff;
    font-size: 3rem;
}

.box3__text3{
    margin-top: 2rem;
    color: #fff;
    font-size: 1.2rem;
    width: 380px;
}

.box3__cards{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box3__cards__card{
    width:329px;
    height: 700px;
    background-color: #fff;
    margin: 1%;
}

.box3__cards__card p{
    padding:1rem  ;
    
}

.box3__cards__card_txt1{
    color: #23A6F0;
}
.box3__cards__card_txt1 img{
  background-color: #184C99 ;
}
.box3__cards__card_txt2{
    color: #252B42;
    font-size: 1.2rem;
    font-weight: bold;
}
.box3__cards__card_txt3{
    color: #737373;
    font-size: 1.2rem;
    font-weight: bold;
}

.box3__cards__card_txt4{
    color: #737373;
    font-size: 1.2rem;
    font-weight: bold;
}
.box3__cards__card_txt5{
    font-size: 1.2rem;
    font-weight: bold;
}
.box3__cards__card_txt5 span{
  color: #40BB15;
  
}
.box3__ul{
    padding-top:1rem ;
    display: flex;
    justify-content: space-evenly;
}
.box3__ul li{
    color: #737373;
    font-size: 0.8rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.box3__btn{
    margin-top:1rem ;
    width: 120px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #23A6F0;
    color: #23A6F0;
    outline: none;
    border-radius: 20px;
    margin-left: 1rem;
}

.box4__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box4__cards__card{

    margin-top: 20px;
    width:350px;
    height: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.box4__ul{
    display: flex;
    justify-content: space-between;
}

.box4__cards__card_txt{
    width: 150px;
 text-align: center;
}

.box4__cards__user{
    display: flex;
    justify-content: space-between;
}
.box4__cards__card_txt{
    font-size: 1.1rem;
    columns: #737373;
}
.box4__user__text{

   padding: 10px;
   line-height: 20px;
}
.box4__user__text p:nth-child(1){
    font-size: 1.2rem;
    color: #23A6F0;
}

.box4__user__text p:nth-child(2){
    color: #252B42
}

.box5{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box5__text3{
    margin-top: 2rem;
    color: #fff;
    width: 400px;
    height: 50px;
}

.box5__input_card{
    display: flex;
    justify-content: center;
}

.box5__input_card{
    border-radius: 5px;
}
.box5__input_card input{
    padding: 10px;
    font-size: 17px;
    background: #f1f1f1;
    width: 500px;
}

.box5__input_card button{
    
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
}

.box6{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box6__ul li:nth-child(1) {
    font-size:2rem;
    margin-left: 1rem;
    color: #fff;
}

.box6 li{
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #fff;
}

.box6 li{
    font-size: 1.1rem;
    margin-left: 1rem;
    color: #fff;
    padding-top: 1rem;
}

.box6 ul:nth-child(1) ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}